[[language]]
name = "erb"
language-servers = [ { name = "ruby-lsp", only-features = ["format", "diagnostics"]}, {name = "solargraph", except-features = ["format", "diagnostics"]}, "emmet-ls", "tailwindcss-ls"]
file-types = ["erb", "html"]
formatter = { command = "prettier", args = ["--parser", "erb-template"] }
auto-format = true

[language.auto-pairs]
'<' = '>'
'%' = '%'
"'" = "'"
'"' = '"'

[language-server.ruby-lsp]
command = "ruby-lsp"

[[language]]
name = "ruby"
language-servers = ["ruby-lsp", "solargraph" ]
auto-format = true
# formatter = { command = "rufo", args = ["--simple-exit"] }

[[language]]
name = "yaml"
file-types = ["yaml", "yml"]
language-servers = [ "yaml-language-server" ]
